<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="/css/fragmentStyle.css" rel="stylesheet">
	<link href="/css/aggiungiOperaStyle.css" rel="stylesheet">
	<title>Aggiungi Opera</title>
</head>

<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
	<h3>Aggiungi Opera</h3>

	<form th:action="@{/addCollezione}" method="POST">
		<div class="row">
			<h5>Nome Collezione</h5><input type="text" name="nome" placeholder="Inserisci nome Collezione"
				th:field="${collezione.nome}" required>
		</div>

		<div class="row">
			<h5>URL Collezione</h5><input type="text" name="url" placeholder="URL" th:field="${collezione.url}" required>
		</div>
		<div class="row">
			<h5>Descrizione</h5><textarea name="descrizione" placeholder="Descrizione..."
				th:field="${collezione.descrizione}"></textarea>
		</div>
		
		<button type="submit">Aggiungi</button>
	</form>

</body>

</html>